annotated-types==0.7.0
anyio==4.14.1
beautifulsoup4==4.15.0
bidict==0.23.1
blinker==1.9.0
brotli==1.2.0
certifi==2026.6.17
cffi==2.1.0
charset-normalizer==3.4.9
click==8.4.2
cryptography==49.0.0
ddgs==9.14.4
defusedxml==0.7.1
distro==1.9.0
dnspython==2.8.0
dotenv==0.9.9
fake-useragent==2.2.0
Flask==3.1.3
Flask-SocketIO==5.6.1
gevent==26.5.0
gevent-websocket==0.10.1
google-api-core==2.31.0
google-api-python-client==2.198.0
google-auth==2.55.2
google-auth-httplib2==0.4.0
googleapis-common-protos==1.75.0
greenlet==3.5.3
h11==0.16.0
h2==4.3.0
hpack==4.2.0
httpcore==1.0.9
httplib2==0.32.0
httpx==0.28.1
hyperframe==6.1.0
idna==3.18
itsdangerous==2.2.0
Jinja2==3.1.6
jiter==0.16.0
jsonpatch==1.33
jsonpointer==3.1.1
langchain==1.3.12
langchain-classic==1.0.8
langchain-core==1.4.9
langchain-ollama==1.1.0
langchain-protocol==0.0.18
langchain-text-splitters==1.1.2
langgraph==1.2.8
langgraph-checkpoint==4.1.1
langgraph-prebuilt==1.1.0
langgraph-sdk==0.4.2
langsmith==0.10.0
looseversion==1.3.0
lxml==6.1.1
MarkupSafe==3.0.3
mss==10.2.0
mutagen==1.48.1
niconico==0.0.1
numpy==2.5.1
ollama==0.6.2
openai==2.44.0
orjson==3.11.9
ormsgpack==1.12.2
packaging==26.2
pandas==3.0.3
pathlib==1.0.1
primp==1.3.1
proto-plus==1.28.1
protobuf==7.35.1
pyasn1==0.6.4
pyasn1_modules==0.4.2
pycparser==3.0
pycryptodomex==3.23.0
pydantic==2.13.4
pydantic_core==2.46.4
pyparsing==3.3.2
python-dateutil==2.9.0.post0
python-dotenv==1.2.2
python-engineio==4.13.3
python-socketio==5.16.3
PyYAML==6.0.3
requests==2.34.2
requests-toolbelt==1.0.0
rethinkdb==2.4.10.post1
simple-websocket==1.1.0
six==1.17.0
sniffio==1.3.1
socksio==1.0.0
soupsieve==2.8.4
SQLAlchemy==2.0.51
tenacity==9.1.4
thinker==1.1.1
tkinterdnd2==0.6.2
tqdm==4.68.4
typing-inspection==0.4.2
typing_extensions==4.16.0
uritemplate==4.2.0
urllib3==2.7.0
uuid_utils==0.16.2
websockets==15.0.1
Werkzeug==3.1.8
wikipedia==1.4.0
wsproto==1.3.2
xxhash==3.8.1
youtube-transcript-api==1.2.4
yt-dlp==2026.7.4
yt-dlp-ejs==0.8.0
zope.event==6.2
zope.interface==8.5
zstandard==0.25.0
